#sidebar {
  padding: 10px 5px 0 5px;
  background-color: #EFF4FF;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  height: calc(100vh - 50px);
}

.filter-header {
  display: flex;
}

.tag-list {
  max-height: calc(5*20px + 4*10px);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 5px;
  
  .tag {
    width: 75px;
  }
}