nav {
  .flex {
    flex: 1 1 auto;
  }

  .actions {
    button {
      margin-right: 7px;
    }
  }

  .search {
    font-size: 12px;
    margin-top: 30px;
  }
}

main {
  background-color: #eee;
  padding: 0 10px 0 10px;
  height: Calc(100vh - 64px);
  overflow: auto;
  margin-top: 0;

  &.shrink {
    height: Calc(100vh - 64px - 56px);
  }

}

